body{
    background-image: url("https://cdn.wallpapersafari.com/33/42/Avc0xl.png");
}
.scrolling-wrapper{
	overflow-x: auto;

}
#myCard{
    width: 400px;
    max-height: 95%;
}
#cardRoll > div{
    display: inline-block;
}
#planetRoll > div{
    display: inline-block;
    
}
#cardBody{
    background-color: black;
}