#logo{
    height: 40px;
    width: 80px;
}
nav{
    background-image: url("https://cdn.wallpapersafari.com/33/42/Avc0xl.png");
    border-radius: 15px;
    border: solid 1px rgb(221, 217, 217);
}
button{
    background-color: rgb(47, 179, 47);
}