#cardbody{
    background-color: rgb(1, 1, 41);
    height: 520px;
}
#data{
    background-color: rgb(4, 4, 77);
    height: 400px;
}
#photo{
    height: 400px;
}
img{
    max-height: 100%;
    max-width: 100%;
}